/*第一部分*/
#btl{
    width:100%;
    display: flex;
    position:relative;
    align-items: center;
    justify-content: space-around;
    top:0;
    font-size:14px;
    background-color: white;
    height:40px;
}
.btl-2{
    color:black;
}
#btl-1{
    color:#FF5000;
    padding-top:13px;
}
#btl div{
    height:40px;
    border-bottom:2px #FF5000 solid;
    display: flex;
}
/*第二部分*/
#ss-1{
    width:24px;
    height:15px;
    display: flex;
    position:absolute;
    top:7px;
    left:3px;
}
#ss-1 img{
    height:100%;
    width:100%;
}
#ss{
    height:25px;
    width:240px;
    display: flex;
    position: absolute;
    top:53px;
    left:10px;
    padding-left:25px;
    padding-top: 3px;
    background-color: white;
    font-size:15px;
    border-radius: 12px;
}
#ss-2 a{
    color:#7A7A7A;
}
#ss1{
    height:25px;
    width:75px;
    border-radius: 12px;
    background-color: #FF5000;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right:12px;
    top:55px;
}
#ss1 a{
    color:white;
}