#wk{
    width:100%;
    height:100%;
}
/*第一部分*/
#wd-1{
    background-color: #FE6E12;
    display: flex;
    position: relative;
    width:100%;
    height:100%;
}
#wdd-1{
    background-color:#FE6E12 ;
    height:180px;
    width:100%;
    display: flex;
    position: absolute;
}
#tx{
    width:50px;
    height:50px;
    display: flex;
    position: absolute;
    top:38px;
    left:18px;
}
#tx img{
    width:100%;
    height:100%;
}
#zh{
    font-size: 19px;
    color:white;
    font-weight: bold;
    display: flex;
    position: absolute;
    top:38px;
    left:80px;
}
#wdd-2 div{
    height:22px;
    width:22px;
}
#wdd-2 div img{
    height:100%;
    width:100%;
}
#wdd2-1{
    display: flex;
    position: absolute;
    right:15px;
    top:38px;
}
#wdd2-2{
    display: flex;
    position: absolute;
    right:60px;
    top:38px;
}
/*第二部分*/
#wd-2{
    width: 100%;
    height:100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    top:120px;
    left:-25px;
    font-size: 12px;
    color:white;
}
.wd2-1{
    display: flex;
    position: absolute;
    justify-items: center;
    top:-15px;
    justify-content: center;
}
.wd2-2{
    display: flex;
    position: absolute;
    top:10px;
    width:50px;
}
#wd3{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    left:22px;
    top:-15px;
}
/*第三部分*/
#wd-3{
    display: flex;
    position: absolute;
    top:190px;
    left:12px;
    background-color: #FFFFFF;
    height:115px;
    width:94%;
    border-radius: 10px;
}
#wd3-1{
    border-bottom: 1px #F2F2F2 solid;
    height:35px;
    width:100%;
    display: flex;
}
#wd3-2{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    position: absolute;
    top:8px;
    left:10px;
}
#wd3-3{
    font-size: 10px;
    display: flex;
    position: absolute;
    right:28px;
    top:7px;
    color:#999999;
}
#wd3-4{
    height:30px;
    width:30px;
    display: flex;
    position: absolute;
    right:5px;
    top: 1px;
}
#wd3-4 img{
    height:100%;
    width:100%;
}
#ww1{
    width:100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    top:55px;
    left: 5px;
}
.wa1{
    height:23px;
    width: 23px;
}
.wa1 img{
    height:100%;
    width:100%;
}
#ww2{
    height:15px;
    width:100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    color: #5F646E;
    font-size: 10px;
    left:8px;
    top:30px;
}
/*第四部分*/
#wwd{
    display: flex;
    position: absolute;
    top:320px;
    left:12px;
    background-color: #FFFFFF;
    height:200px;
    width:94%;
    border-radius: 10px;
}
#wwd-1{
    border-bottom: 1px #F2F2F2 solid;
    height:35px;
    width:100%;
    display: flex;
}
#wwd-2{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    position: absolute;
    top:8px;
    left:10px;
}
#wwd-3{
    font-size: 10px;
    display: flex;
    position: absolute;
    right:28px;
    top:7px;
    color:#999999;
}
#wwd-4{
    height:30px;
    width:30px;
    display: flex;
    position: absolute;
    right:5px;
    top: 1px;
}
#wwd-4 img {
    height: 100%;
    width: 100%;
}
#ww{
    width:100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    top:55px;
    left: 5px;
}
.wa2{
    height:30px;
    width: 30px;
}
.wa2 img{
    height:100%;
    width:100%;
}
#ww-1{
    height:15px;
    width:100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    color: #5F646E;
    font-size: 10px;
    left:0;
    top:30px;
}
#wb{
    width:100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    top:130px;
    left: 5px;
}
.wa3{
    height:30px;
    width: 30px;
}
.wa3 img{
    height:100%;
    width:100%;
}
#wb-1{
    height:15px;
    width:100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    color: #5F646E;
    font-size: 10px;
    left:0;
    top:30px;
}
#lz1{
    height:45px;
    width:45px;
    display: flex;
    position:fixed;
    right:10px;
    top:600px;
}
#lz1 a img{
    height:100%;
    width:100%;
}
#lz2{
    height:15px;
    width:52px;
    display:flex;
    position:fixed;
    right:8px;
    top:650px;
    background-color: #FF5B00;
    border-radius: 7px;
    font-size: 8px;
}
#lz2 a{
    color:white;
}
/*底部功能栏*/
#dbl{
    width:100%;
    height: 50px;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    bottom:0;
    background-color: white;
    padding-bottom: 10px;
}
.dbl-1{
    width:22px;
    height:22px;
}
.dbl-1 img{
    height:100%;
    width:100%;
}
#dbl div div{
    width:50px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    color: #B0B0B0;
    font-size: 8px;
    right:10px;
}

